/* Header section */

.header {
  width: 100%;
  height: 500px;
  background-image: url(../images/hackathon-resources/image-1.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  padding-top: 50px;
}
.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 550px;
  background: rgba(0, 0, 0, 0.2);
  z-index: 2;
}
.nav-container {
  display: flex;
  align-items: center;
  z-index: 3;
}
.logo {
  z-index: 3;
}
.logo img {
  max-width: 100px;
  margin-left: 50px;
  border-radius: 15px;
  z-index: 3;
}
.navigation {
  margin-left: auto;
  margin-right: 50px;
  z-index: 3;
}
.navigation ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.navigation ul li {
  margin: 0 10px;
}
.hero {
  z-index: 3;
  text-align: center;
  color: white;
  font-size: 50px;
}

/* Header end */

/* What we do */

.what-we-do {
  font-family: Arial, sans-serif;
  margin: auto;
  padding: 0;
  background-color: #001f3f;
  color: white;
  width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
}
.container {
  width: 90%;
  max-width: 900px;
}
.about-section,
.what-we-do {
  margin-bottom: 20px;
}
.about-section img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  display: block;
  margin: 0 auto 20px;
}
.about-text h2,
.what-we-do h2 {
  font-weight: bold;
  font-size: 2em;
}
.about-text p,
.what-we-do p,
.what-we-do ul {
  font-weight: bold;
  font-size: 1.2em;
  padding-left: 150px;
  padding-right: 150px;
}
.what-we-do ul {
  list-style-type: none;
  padding: 0;
}
.what-we-do li {
  margin: 5px 0;
}

/* What we do End */

/* Gallery */

.gallery {
  margin: auto;
  background-color: rgba(0, 0, 0, 0.1);
  min-height: auto;
  max-width: 90%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
  border-width: 10px;
  border-color: navy;
}

.gallery-heading {
  font-size: 25px;
  color: navy;
  text-align: center;
  margin: 30px;
}

.media-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: 30px;
  align-content: center;
  row-gap: 30px;
}

.media {
  margin: auto;
  width: 35vh;
}

.media img {
  width: 35vh;
  border-radius: 10px;
}

.media video {
  max-width: 35vh;
  border-radius: 10px;
}

/* End Gallery */

/* Footer css */

.footer {
  background-color: rgb(2, 0, 105);
  width: 100%;
  min-height: fit-content;
  bottom: 0px;
}

.content-limiter {
  margin: auto;
  max-width: 90%;
  min-height: auto;
  background-color: rgb(2, 0, 105);
}

ul {
  list-style-type: none;
}

a:link,
a:visited {
  color: white;
  text-decoration: none;
}
a:hover {
  color: blue;
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

.footer-top {
  background-color: rgb(2, 0, 105);
  margin: auto;
  min-height: auto;
  display: flex;
  padding-top: 100px;
  padding-bottom: 70px;
}

.box-1 {
  margin-left: auto;
  background-color: rgb(2, 0, 105);
  min-height: fit-content;
  width: 20%;
  color: white;
  align-content: center;
}
.box-1 img {
  border-radius: 15px;
}
.box-2 {
  background-color: rgb(2, 0, 105);
  min-height: fit-content;
  width: 30%;
  color: white;
  align-content: center;
}
.box-3 {
  margin-right: auto;
  background-color: rgb(2, 0, 105);
  min-height: fit-content;
  width: 30%;
  color: white;
  align-content: center;
}

.footer-bottom {
  color: white;
  background-color: rgb(9, 0, 74);
  margin: auto;
  min-height: 40px;
  align-content: center;
  text-align: center;
}

/* End Footer */
