body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
h1 {
    color: #333;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin: 10px 0;
}
a {
    text-decoration: none;
    color: #1a73e8;
}
a:hover {
    text-decoration: underline;
}

.resource-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.resource-item {
    width: calc(33.333% - 20px);
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}
.resource-item img {
    max-width: 100%;
    height: auto;
}
.hidden {
    display: none;
}
.view-more , .view-less {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

.search-input {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin: 20px auto;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}